<!-- Contact Section -->
<section id="contact" class="contact section">


    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Contáctanos</h2>
        <p>Estamos aquí para cuidar la sonrisa de tus hijos. Ponte en contacto con nuestra clínica de odontopediatría para agendar una cita o resolver tus dudas.</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up"
                    data-aos-delay="200">
                    <i class="bi bi-geo-alt"></i>
                    <h3>Dirección</h3>
                    <p>Valle de los Chillos, Quito - Ecuador</p>
                </div>
            </div><!-- End Info Item -->

            <div class="col-lg-3 col-md-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up"
                    data-aos-delay="300">
                    <i class="bi bi-telephone"></i>
                    <h3>Teléfono</h3>
                    <p>+593 96-397-6516</p>
                </div>
            </div><!-- End Info Item -->

            <div class="col-lg-3 col-md-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up"
                    data-aos-delay="400">
                    <i class="bi bi-envelope"></i>
                    <h3>Correo</h3>
                    <p>info@fabuladental.com</p>
                    <p>fabuladental@gmail.com</p>
                </div>
            </div><!-- End Info Item -->

        </div>

        <form action="./view/server.html" method="GET" class="form">
            <div class="row gy-4">

                <div class="col-md-6">
                    <input type="text" name="name" class="form-control" placeholder="Tu Nombre" required="">
                </div>

                <div class="col-md-6">
                    <input type="email" class="form-control" name="email" placeholder="Tu Correo" required="">
                </div>

                <div class="col-md-12">
                    <input type="text" class="form-control" name="subject" placeholder="Motivo de la consulta" required="">
                </div>

                <div class="col-md-12">
                    <textarea class="form-control" name="message" rows="6" placeholder="Escribe tu mensaje aquí..." required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                    <div class="loading">Cargando...</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Tu mensaje ha sido enviado. ¡Gracias por contactarnos!</div>

                    <button type="submit">Enviar Mensaje</button>
                </div>

            </div>
        </form><!-- End Contact Form -->

    </div>

</section><!-- /Contact Section -->
