<!-- Faq Section -->
<link rel="stylesheet" href="../public/css/index.css">
<section id="faq" class="faq section">

<!-- Section Title -->
<header class="masthead" style="background-image: url('./public/img/preguntas-frecuentes.jpg'); background-size: cover; background-position: center; padding: 100px 0">
  <div class="container text-center text-white" data-aos="fade-up">
    <h2 class="fuente-de-texto1">PREGUNTAS FRECUENTES</h2>
    <br>
    <p class="fuente-texto3">Conoce más sobre los servicios que ofrecemos y cómo cuidamos la sonrisa de los más pequeños. Aquí respondemos las dudas más comunes de los padres sobre nuestros tratamientos y la atención que brindamos</p>
  </div>
</header>
<br>

<div class="container">

  <div class="row faq-item" data-aos="fade-up" data-aos-delay="100">
    <div class="col-lg-5 d-flex">
      <i class="bi bi-question-circle"></i>
      <h4>¿Qué servicios ofrecen para el cuidado dental infantil?</h4>
    </div>
    <div class="col-lg-7">
      <p>
        Ofrecemos limpiezas, revisiones, aplicación de flúor, sellantes, tratamientos de caries y control del crecimiento dental.
      </p>
    </div>
  </div>

  <div class="row faq-item" data-aos="fade-up" data-aos-delay="200">
    <div class="col-lg-5 d-flex">
      <i class="bi bi-question-circle"></i>
      <h4>¿Atienden niños con miedo o ansiedad al dentista?</h4>
    </div>
    <div class="col-lg-7">
      <p>
        Sí, utilizamos técnicas de manejo conductual y un ambiente amigable para que cada visita sea una experiencia tranquila y positiva.
      </p>
    </div>
  </div>

  <div class="row faq-item" data-aos="fade-up" data-aos-delay="300">
    <div class="col-lg-5 d-flex">
      <i class="bi bi-question-circle"></i>
      <h4>¿Realizan tratamientos con sedación o anestesia?</h4>
    </div>
    <div class="col-lg-7">
      <p>
        Sí, ofrecemos sedación segura y anestesia local adaptada a cada edad para que el tratamiento sea cómodo y sin miedo.
      </p>
    </div>
  </div>

  <div class="row faq-item" data-aos="fade-up" data-aos-delay="400">
    <div class="col-lg-5 d-flex">
      <i class="bi bi-question-circle"></i>
      <h4>¿Atienden emergencias dentales infantiles?</h4>
    </div>
    <div class="col-lg-7">
      <p>
        Sí, brindamos atención inmediata en casos de caídas, fracturas o dolor dental agudo.
      </p>
    </div>
  </div>

  <div class="row faq-item" data-aos="fade-up" data-aos-delay="500">
    <div class="col-lg-5 d-flex">
      <i class="bi bi-question-circle"></i>
      <h4>¿Ofrecen ortodoncia para niños pequeños?</h4>
    </div>
    <div class="col-lg-7">
      <p>
        Sí, realizamos ortodoncia interceptiva para corregir a tiempo problemas de mordida y guiar el crecimiento dental.
      </p>
    </div>
  </div>

</div>
</section>
