<!-- Hero Section -->
<section id="hero" class="hero section dark-background">
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('./public/img/nina-con-dentista.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1 class="fuente-de-texto1">¡Cuidamos las sonrisas del futuro!</h1>
                            <a href="https://wa.me/593963976516" class="btn-get-started">Agendar la primera visita</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

</section><!-- /Hero Section -->
<section>
    <h3 class="fuente-de-texto1">Ortopediatría con amor</h3>
    <p class="fuente-texto2">En Fábula Dental, la Dra. Stephy y su equipo han creado un lugar mágico donde la salud bucal infantil se cuida con ternura, paciencia y dedicación. <br>
    Nuestro compromiso es brindar una experiencia dental positiva, donde cada niño se sienta seguro, escuchado y feliz de volver. <br>
    Sabemos que una sonrisa sana empieza con confianza, por eso cada consulta está diseñada para adaptarse a la edad, personalidad y necesidades de cada pequeño paciente. Nos esforzamos por construir no solo sonrisas saludables, sino también recuerdos agradables que acompañen a los niños durante toda su vida. <br>
    En el Valle de los Chillos y Latacunga, Fábula Dental es más que un consultorio: es un espacio donde las familias encuentran apoyo, orientación y un trato cariñoso para cuidar lo más valioso que tienen, sus hijos.</p>
</section>

<section>
    <img src="./public/img/dentista-sonriendo.jpg" alt="dentista-sonriendo" class="imagen-dentista">
</section>

    <section>
    <div class="card mb-3" style="max-width: 900px; margin:auto; margin-top: -3rem;">
    <div class="row g-0">
    <div class="col-md-4">
    <img src="./public/img/niño-icon.jpg" class="img-fluid rounded-start" alt="niño-icon">
    </div>
        <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title" style="font-weight: bolder;">Atención personalizada</h5>
            <p class="card-text">Cada niño merece mucho más que una buena atención: merece una experiencia dental única, amable y llena de confianza. Por eso, creamos un ambiente donde cada pequeño se sienta especial, escuchado y cómodo desde el primer momento.</p>

        </div>
    </div>
    </div>
    </section>
    <section>
    <div class="card mb-3" style="max-width: 900px; margin: auto; margin-top: -3rem;">
    <div class="row g-0">
    <div class="col-md-4">
    <img src="./public/img/sonrisa-icon.jpg" class="img-fluid rounded-start" alt="feliz-icon">
    </div>
        <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title" style="font-weight: bolder;">Ambiente divertido y relajado</h5>
            <p class="card-text">¡En Fábula Dental convertimos cada cita en una experiencia divertida y alegre! Nuestro equipo está comprometido en hacer que cada visita sea agradable, para que nuestros pequeños pacientes no solo se sientan cómodos, ¡sino que también disfruten venir al dentista!.</p>

        </div>
    </div>
    </div>
    </section>
    <section>
    <div class="card mb-3" style="max-width: 900px; margin: auto; margin-top: -3rem;">
    <div class="row g-0">
    <div class="col-md-4">
    <img src="./public/img/icono-maquina.jpg" class="img-fluid rounded-start" alt="icono-maquina">
    </div>
        <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title" style="font-weight: bolder;">Moderno y de alta tecnología</h5>
            <p class="card-text">Contamos con tecnología de última generación pensada para el cuidado cómodo y seguro de los más pequeños. Equipos digitales, procedimientos precisos y un ambiente moderno nos permiten brindar una atención eficiente, actualizada y con el toque humano que nos caracteriza.</p>

        </div>
    </div>
    </div>
    </section>
