<link rel="stylesheet" href="../public/css/index.css">
<!-- Services Section -->
<section id="services" class="hero section dark-background">
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('./public/img/fondo-cepillo.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <br><br><br>
                            <h1 class="fuente-de-texto1">Servicios</h1>
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>

</section>

<section id="services" class="services section">
  <div class="container">

    <!-- Item 1: Imagen a la derecha -->
    <div class="row align-items-center mb-5" data-aos="fade-up" data-aos-delay="100">
      <div class="col-md-6">
        <h3 class="fuente-de-texto1">Odontopediatría</h3>
        <p class="fuente-texto2">La odontopediatría trata el cuidado oral preventivo y terapéutico de niños y adolescente a través de la creación de un ambiente de confianza que permita futuras interacciones odontológicas positivas.</p>
       
      </div>
      <div class="col-md-6 text-center">
        <img src="./public/img/odontopediatria.jpg" alt="Odontopediatría" class="servicios-img">
      </div>
    </div>

    <!-- Item 2: Imagen a la izquierda -->
    <div class="row align-items-center flex-row-reverse mb-5" data-aos="fade-up" data-aos-delay="200">
      <div class="col-md-6">
        <h3 class="fuente-de-texto1">Odontología del bebé</h3>
        <p class="fuente-texto2">La odontología del bebé se relaciona con brindar apoyo psicoemocional a padres que a menudo se sienten conmovidos por el comportamiento del bebé, estableciendo una relación de confianza con ambos.</p>
      </div>
      <div class="col-md-6 text-center">
        <img src="./public/img/odontologia-bebe.jpg" alt="Odontología del bebé" class="servicios-img">
      </div>
    </div>

    <!-- Item 3: Imagen a la derecha -->
    <div class="row align-items-center mb-5" data-aos="fade-up" data-aos-delay="300">
      <div class="col-md-6">
        <h3 class="fuente-de-texto1">Orientación a gestantes y lactancia materna</h3>
        <p class="fuente-texto2">La orientación a gestantes promueve la atención ontológica materno infantil, enfocando al binomio madre-hijo desde la concepción e involucrando su núcleo familiar y entorno social.</p>
      </div>
      <div class="col-md-6 text-center">
        <img src="./public/img/gestantes-lactancia.jpg" alt="Orientación a gestantes" class="servicios-img">
      </div>
    </div>

    <!-- Item 4: Imagen a la izquierda -->
    <div class="row align-items-center flex-row-reverse mb-5" data-aos="fade-up" data-aos-delay="400">
      <div class="col-md-6">
        <h3 class="fuente-de-texto1">Odontopediatría en pacientes especiales</h3>
        <p class="fuente-texto2">Esta área se encarga de brindar atención adaptada a las necesidades individuales del paciente pediátrico con condiciones médicas, psicológicas o físicas especiales.</p>
      </div>
      <div class="col-md-6 text-center">
        <img src="./public/img/pacientes-especiales.jpg" alt="Pacientes especiales" class="servicios-img">
      </div>
    </div>

    <!-- Item 5: Imagen a la derecha -->
    <div class="row align-items-center mb-5" data-aos="fade-up" data-aos-delay="500">
      <div class="col-md-6">
        <h3 class="fuente-de-texto1">Ortopedia y ortodoncia</h3>
        <p class="fuente-texto2">Se encarga del estudio, prevención, diagnóstico y tratamiento de las anomalías dentomaxilofaciales. Busca mantener la armonía y función mediante el uso de diferentes tipos de fuerzas.</p>
      </div>
      <div class="col-md-6 text-center">
        <img src="./public/img/ortodoncia.jpg" alt="Ortopedia y ortodoncia" class="servicios-img">
      </div>
    </div>

  </div>


</section><!-- /Services Section -->