<!-- Why Us Section -->
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/vendor/template/assets/css/main.css">
    <link rel="stylesheet" href="../public/vendor/bootstrap-5/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/index.css">
    <title>Por qué elegirnos</title>
</head>
<section id="why-us" class="why-us section">

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="card-item">
                    <span>01</span>
                    <h4><a href="" class="stretched-link">Especialistas en Odontopediatría</a></h4>
                    <p>Contamos con profesionales capacitados en el cuidado dental infantil, brindando una atención segura, amable y adaptada a cada etapa de crecimiento.</p>
                </div>
            </div><!-- Card Item -->

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="card-item">
                    <span>02</span>
                    <h4><a href="" class="stretched-link">Ambiente Amigable para Niños</a></h4>
                    <p>Nuestras instalaciones están diseñadas para que los pequeños se sientan tranquilos y cómodos, reduciendo el miedo al dentista mediante juegos y atención personalizada.</p>
                </div>
            </div><!-- Card Item -->

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="card-item">
                    <span>03</span>
                    <h4><a href="" class="stretched-link">Tecnología Moderna y Segura</a></h4>
                    <p>Utilizamos equipos actualizados y métodos no invasivos para garantizar tratamientos más rápidos, precisos y sin dolor para tus hijos.</p>
                </div>
            </div><!-- Card Item -->

        </div>

    </div>

</section><!-- /Why Us Section -->
